:root {
  --primary-text-color: #212121;
  --marked-text-color: #2196f3;
  --secondary-text-color: #757575;
  --contrast-text-color: #ffffff;
  --footer-text-color: #rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --icons-background-color: #f5f4fa;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
/* Roboto regular
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
Roboto 500
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
Roboto bold
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/

body {
  font-family: 'Raleway', sans-serif;

}
header {
  background-color: var(--primary-background-color);
  font-family: 'Raleway', sans-serif;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  font-family: 'Raleway', sans-serif;
}
link {
  text-decoration: none;
  color: none;
}
a {
  text-decoration: none;
}

.logo {
  color: var(--primary-text-color);
  width: 153;
  height: 31;
  font-family: 'Raleway', sans-serif;
}
.logo :hover {
  color: var(--marked-text-color: );
}
.logo-web {
  color: var(--marked-text-color);
  .logo-footer {
      color: var(--contrast-text-color);
      width: 153;
      height: 31;
      font-family: 'Raleway', sans-serif;
  }
}
ul {
  list-style: none;
}

/*site nav*/

.site-nav {
  color: var(--primary-text-color);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--marked-text-color);
}

.site-nav .link.current {
    color: var(--marked-text-color);
}

.link.unactive {
    color: var(--primary-text-color);
}

.contacts-header {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-weight: 122;
  height: 16;
}
.contacts-header :hover,
.contacts-header :focus {
  color: var(--marked-text-color);}

  /* main container*/

.contacts {
}

 .slogan {
font-family: Roboto;
font-style: normal;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center; 
color: rgb(184, 128, 26);} /*var(--contrast-text-color)*/  

.button {
  color: var(--contrast-text-color);
  background-color: var(--marked-text-color);
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.invisible-titel {
    display: none;
}

.logo {
    background-color: var(--icons-background-color);
    border-radius: 4px;
}

.titel {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}

.secondary-text {
 color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;   
}

.section-titel {
 color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;  
}

.item-titel {
    color: var(--contrast-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;  
    width: 370px;
    height: 70px;
}
.team-section {
    background-color: var(--secondary-background-color);
}

.team-list{
    background-color: var(--primary-background-color);
}

.team-name {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.team-position {
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.socialmedia-item :hover
.socialmedia-item :focus {
    color: var(--marked-text-color);
}

.clents-list {
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
}

/*footer*/

.logo-footer {
    color: var(--contrast-text-color) ;
}
.footer-adress {
    color: var(--contrast-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.footer-contacts {
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.footer-titel{
    color: var(--contrast-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}
.socialmedia-footer {
    background-color: var(--footer-background-color);
    color: var(--primary-background-color);
}

.ps  {
 color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.03em;   
}


/*Portfolio main container*/

.button-titel {
    background-color: var(--icons-background-color);
    color: var(--primary-text-color);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;
}
.all {
    width: 73px;
}

.sites {
    width: 128px;
}
.app {
    width: 145px;
}
.design {
    width: 130px;
    
}
.marketing {
    width: 130px;
}

.button-titel:hover,
.button-titel:focus {
    background-color: var(--marked-text-color);
    color: var(--contrast-text-color);
}

.description {
    background-color: var(--marked-text-color);
    color: var(--contrast-text-color);
    width: 370px;
height: 294px;
}



/*.button {
  color: var(--contrast-text-color);
  background-color: var(--marked-text-color);
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}*/

.link:hover, 
.link:focus {
   color: var(); 
}



.section-titel {
  color: #212121;
}
.features {
}




/*
.order-service {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
}*/
.social link {
  height: 20;
  font-weight: 20;
  color: rgba(0.69, 0.69, 0.72, 1);
  text-decoration: none;

.contacts-header:hover,
.contacts-header:focus {
  color: rgba(0.13, 0.59, 0.95, 1);
}

.contacts-header:active {
  color: turquoise;
}

.link: hover, 
.link: focus { 
   color: var(--marked-text-color);
}

.link: :active {
  color: blue;
}



.button-titel {
  color: var(--primary-text-color);
  background-color: var(--icons-background-color);
}
.button-titel:hover, 
.button-titel:focus {
  color: var(--contrast-text-color);
  background-color: var(--marked-text-color);
}
